/* Reset */
@import url('../../src/css/reset.css');
/* Variables */
@import url('../../src/css/variables.css');
/* Hamburger menu */
@import url('../../src/css/hamburger.css');
/* Header */
@import url('../../src/css/header.css');
/* Footer */
@import url('../../src/css/footer.css');

/* ------------------------- 

CHECKOUT PAGE

------------------------- */

.checkout-page-container {
    margin: 4rem 0;
}

.order-review-container {
    flex-direction: row;
    gap: 2rem;

    width: 1040px;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 300px;
    }
}

.order-review__order-image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 180px;

    background: var(--primary-info-bg);

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 100px;
        height: 150px;
    }
}

.order-review__order-image img {
    width: 150px;
    height: 150px;
    object-fit: contain;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 100px;
        height: 150px;
    }
}

.order-review__order-info {
    width: 750px;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 300px;
    }
}

.order-review__order-info__top p {
    margin-top: -0.5rem;
}

.order-review__order-info__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-review__order-info__bottom > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        flex-direction: row-reverse;
        align-items: center;

        gap: 0.5rem;
    }
}

.order-review__order-info h3 {
    text-transform: uppercase;
}

.order-review__order-info span {
    font-weight: 700;
}

.order-review__order-info .select-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.order-review__order-info .select-amount p {
    font-weight: 700;
}

.order-review__order-info .select-amount p:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    margin: 0 0.5rem;

    width: 30px;
    height: 30px;

    border: 1px solid #000;
    border-radius: 50px;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        font-size: 0.75rem;
        width: 20px;
        height: 20px;
    }
}

.checkout-page__bottom-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem; /* 

    width: 1040px; */

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        grid-template-columns: 1fr;
        width: 300px;
    }
}

/* ------------------------- 

CHECKOUT PAGE
Shipping information 

------------------------- */

.checkout-page__bottom-container .shipping-info-container {
    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 300px;
    }
}

.checkout-page__bottom-container .shipping-info-container input {
    height: 45px;
    width: 100%;

    margin: 0.5rem 0;
    padding: 0.5rem;

    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.checkout-page__bottom-container .shipping-info-container form > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.checkout-page__bottom-container .shipping-info-container form > div > div {
    width: 250px;
}

.checkout-page__bottom-container .shipping-info-container span {
    color: rgb(202, 25, 25);
}

/* ------------------------- 

CHECKOUT PAGE
Payment method

------------------------- */

.checkout-page__bottom-container_right {
    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 300px;

        margin-top: -2.5rem;
    }
}

.checkout-page__bottom-container_right
    .payment-method-container
    .payment-method-select
    input {
    margin-right: 2rem;
}

.checkout-page__bottom-container_right
    .payment-method-container
    .payment-method-select
    img {
    width: 25px;
    max-height: 15px;
}

.checkout-page__bottom-container_right .credit-card-info {
    margin-top: 2rem;
}

.checkout-page__bottom-container_right .credit-card-info > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.checkout-page__bottom-container_right .credit-card-info > div > div {
    width: 250px;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 150px;
    }
}

.checkout-page__bottom-container_right .credit-card-info input {
    height: 45px;
    width: 100%;

    margin: 0.5rem 0;
    padding: 0.5rem;

    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.checkout-page__bottom-container_right .credit-card-info span {
    color: rgb(202, 25, 25);
}

/* ------------------------- 

CHECKOUT PAGE
Order summary

------------------------- */

.order-summary-container {
    align-items: flex-start;
    gap: 1rem;

    margin-top: 2rem;

    width: 500px;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        justify-content: flex-start;
        width: 330px;

        margin-top: 2rem;
    }
}

.order-summary__content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.order-summary__info > div {
    display: flex;
    justify-content: space-between;
    width: 360px;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        width: 300px;
    }
}

.order-summary__info p {
    margin-top: -0.05rem;
}

.order-summary-container > div > div span {
    font-size: 1.25rem;
    font-weight: 700;
}

.order-summary-container__img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 130px;

    background: var(--primary-info-bg);
}

.order-summary-container__img img {
    width: 100px;
    height: 100px;

    object-fit: contain;
}

/* ------------------------- 

CHECKOUT PAGE
Buttons

------------------------- */

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    margin-top: 6rem;

    @media only screen and (min-width: 360px) and (max-width: 768px) {
        justify-content: center;
        align-items: center;
    }
}

.checkout-btn {
    gap: 1rem;

    width: 165px;
    height: 45px;

    background-color: var(--primary-bg);

    font-weight: 700;

    border: 2px solid #000;
    border-radius: 0.5rem;

    cursor: pointer;
}

.cta-btn {
    background-color: #000;
    color: #fff;
}
