/* Global */
@import url('../../src/css/styles.css');

/* Reset */
@import url('./_reset.css');
/* Variables */
@import url('./_variables.css');
/* Hamburger menu */
@import url('./_hamburger.css');

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.about-container img {
    max-width: 750px;
}
