/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
    --main-text: #000;
    --dark-bg: #333;
    --light-bg: #f0f0f0;
    --main-bg: #fff;
    --primary-contrast: #1f555d;
    --secondary-contrast: #176e77;
}
