*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
    html,
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 0.5rem;
    }
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    min-height: 100vh;
    width: 100%;

    font-family: calibri;
    color: var(--primary-text);
}

a {
    color: var(--primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

h1 {
    font-family: var(--epilogue);
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

main {
    container-type: inline-size;
    width: 100%;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
