/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* colours */
    --primary-bg: #fff;
    --navigation-bg: rgba(255, 255, 255, 0.1);
    --primary-text: #000;
    --primary-info-bg: #f0f0f0;
    --secondary-info-bg: #333;
    --primary-contrast: #1f555d;
    --secondary-contrast: #176e77;

    /* Hamburger menu */
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;

    /* Fonts */
    --epilogue: 'Epilogue', sans-serif;
}
